<h1>user works!</h1>

<b><p>my name :{{name}} <br> from : {{ location}} <br></p></b>
<p> <b>status  :</b> {{getStatus()}}</p>

<button type="button" class="btn btn-danger" (click)="getmessage()"> ok </button>

<div class="row">
<div class="col-md-4 offset-md-4">
    <div class="card">
         <div class="card-header">
          <h1 class="text-center">twwo way binding</h1>
         </div>
         <div class="card-body">
            <input type="text" class="form-control" >
            
         </div>
    </div>
</div>
</div>
<div class="row">
    <button type="button" class="btn btn-link" routerLink="/regester"> Go to rigeter</button>
</div>
